<section class="main-wrapper">
    <div class="question-section">
        <h2 class="question-heading">{{game.getQuestion().title}}</h2>
        <div class='buttons-wrapper'>
            <button
                class="answer-button"
                *ngFor="let answer of game.getQuestion().answers"
                (click)="game.selectAnswerHandler(answer)"
                [ngClass]="game.getAnswerView(answer)"
            >
                &nbsp;
                <span>{{answer.title}}</span>
            </button>

        </div>
        <div class='process-buttons-wrapper'>
            <button
                class="confirm-button"
                *ngIf="game.isAnswerSelected && !game.isAnswerConfirmed"
                (click)="game.confirmAnswer()"
            >
                Подтвердить
            </button>

            <button
                class="next-button"
                *ngIf="game.isAnswerConfirmed"
                (click)="game.nextQuestionHandler()"
            >
                Следующий вопрос
            </button>
        </div>
    </div>
</section>

<!-- question.title}} -->
<!-- answer.title}} -->
<!-- *ngFor="let answer of question.answers" -->
<!-- (click)="onClick()" -->
<!-- (click)="confirmAnswer()" -->
<!-- [ngClass]="{'chosen-answer':game.isAnswerSelected, 'correct-answer':answer.isCorrect}" -->
<!-- (click)="nextQuestionHandler()" -->
<!-- (click)="selectAnswerHandler(answer)" [class.chosen-answer]="answer.isSelected" [class.correct-answer]="answer.isCorrect" -->
